@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

#background {
    background-image:
            linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(86, 150, 186, 0.60) 56.96%, #5696BA 100%),
            url('img/background.png');
    width: 100%;
    height: 1600px;
    background-size: cover;
}

#layout {
    position: relative;
}

#top{
    height: 100vh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.oceanText{
    margin-top: 20px;
}

#top h1 {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    font-weight: bold;
    font-size: 96px;
    opacity: 75%;
}

#top h3{
    color: white;
    opacity: 0.7;
    font-weight: normal;
    letter-spacing: 4.8px;
    font-size: 26px;
}

.line-container {
    position: absolute;
    top: 390px;
    right: 30px;
    display: flex;
}

#line{
    width: 3px;
    background-color: white;
    height: 1210px;
    z-index: 100;
}

.line-text {
    color: white;
    padding-right: 5px;
}

.line-text2{
    margin-top: 1000px;
    color: white;
    padding-right: 5px;
}
