@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html {
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

#background {
    background-image:
            linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(86, 150, 186, 0.60) 56.96%, #5696BA 100%),
            url('img/background.png');
    width: 100%;
    height: 1600px;
    background-size: cover;
}

#layout {
    position: relative;
}

#top{
    height: 100vh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.oceanText{
    margin-top: 20px;
}

#top h1 {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    font-weight: bold;
    font-size: 96px;
    opacity: 75%;
}

#top h3{
    color: white;
    opacity: 0.7;
    font-weight: normal;
    letter-spacing: 4.8px;
    font-size: 26px;
}

.line-container {
    position: absolute;
    top: 300px;
    right: 30px;
    display: flex;
}

#line{
    width: 3px;
    background-color: white;
    height: 2779px;
    z-index: 100;
}

.line-text {
    color: white;
    padding-right: 5px;
}

.line-text2{
    margin-top: 1000px;
    color: white;
    padding-right: 5px;
}

.line-text3{
    margin-top: 400px;
    color: white;
    padding-right: 5px;
}

.line-text4{
    margin-top: 1300px;
    color: white;
    padding-right: 5px;
}

.container {
    position: relative;
    width: 24px;
    height: 24px;
    bottom: 100px;
}

.container a{
    width: 24px;
    height: 10px;
}

.chevron {
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
    cursor: pointer;
}

.chevron:first-child {
    animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
    content: ' ';
    position: absolute;
    height: 100%;
    width: 51%;
    background: #fff;
}

.chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
}

.chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
}

@keyframes move {
    25% {
        opacity: 1;

    }
    33% {
        opacity: 1;
        transform: translateY(30px);
    }
    67% {
        opacity: 1;
        transform: translateY(40px);
    }
    100% {
        opacity: 0;
        transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
}

@keyframes pulse {
    to {
        opacity: 1;
    }
}

#m300{
    height: 860.8px;
    width: 100%;
}

#m600{
    height: 100vh;
    width: 100%;
    background: linear-gradient(180deg, #5696BA 0%, #5696BA 56.96%, #4575A0 100%);
}

#m1000{
    height: 100vh;
    width: 100%;
    background: linear-gradient(180deg, #4575A0 0%, #1A2F43 100%);
}


.first{
    display: flex;
    justify-content: center;
}
.hexagon{
    height: 200px;
    display: flex;
}
.row2{
    display: flex;
}


.hex{
    color: black;

}
.hex1::before {
    width: 140px;
    height: 140px;
    content: "\2B22";
    font-size:280px;
}


.hex2::before {
    width: 140px;
    height: 140px;
    content: "\2B22";
    font-size:280px;
}

.hex3::before {
    width: 140px;
    height: 140px;
    content: "\2B22";
    font-size:280px;
}

.hex4::before {
    width: 140px;
    height: 140px;
    content: "\2B22";
    font-size:280px;
}

.hex5::before {
    width: 140px;
    height: 140px;
    content: "\2B22";
    font-size:280px;
}


.waas{
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    width: 213px;
    height: 253px;
    position: absolute;
}

.hex{
    --s: 245px;
    width:calc(0.866*var(--s));
    height: var(--s);
    margin:8px ;
    position:relative;
    z-index: 1000;  /* Add a specific z-index value to the parent elements */

}
.hex .form{
    content: "";
    position: absolute;
    inset: 0;
    /*clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);*/
    /*clip-path: polygon(100% 50%, 75% 100%, 25% 100%, 0% 50%, 25% 0%, 75% 0%);*/
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);

}

.animal{
    border: black;
    padding: 0;
    z-index: 10000;
    width: 696px;
    height: 500px;
    position: absolute;
    margin-left: -220px;
    background-color: transparent;
}
#an1-info{
    display: none;
}
#an2-info{
    display: none;
}
#an3-info{
    display: none;
}
#an4-info{
    display: none;
}
#an5-info{
    display: none;
}
.border{
    position: absolute;
    height: 248px;
    width:248px;
}

.hex-title{
    width:2px;
    height:90px;
    background: #ffffff;
    position:absolute;
    margin:auto;
    left: 30px;
    top:0;bottom:0;
    z-index: 900;
    font-family:Arial;
    font-size:14px;
    color:#fff;
    line-height:40px;
    text-align:center;
    text-transform:uppercase;
    letter-spacing:2px;
}
.title{
    width:160px;
    height:80px;
    position:absolute;
    margin:auto;
    left: 40px;
    top:10px;
    bottom:0;
    z-index: 900;
    font-family:Arial;
    font-size:14px;
    color:#fff;
    text-transform:uppercase;
    letter-spacing:2px;
}
.hex-img{
    /*width:100%;*/
    height:100%;
    position:relative;
    overflow:hidden;
    z-index: 800;
}
.hex-img img{
    max-width:100%;

}
.hex-hide{
    width:100%;
    height:100%;
    position:absolute;
    top:0;left:0;
}
.hex-hide img{
    position: absolute;
    height: 248px;
    width: 248px;
}
.vak{
    width: 1100px;
    height: 310px;
    background-color: rgba(0, 0, 0, 0.36);
    border-radius: 30px;
    margin-left: 140px;
    display: flex;
}
.diver{
    border-radius: 10px;
    margin-left: 35px;
    margin-top: 30px;
    width: 370px;
    height: 225px;
    box-shadow: 0 15px 15px rgba(0,0,0,.35);
}

.tekst{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 40px;
    color: white;
    gap: 5px;
}

.tekst h1{
    font-family:Arial;
    font-size:19px;
    color:#fff;
    text-transform:uppercase;
    letter-spacing:2px;

}
.stripe{
    width: 130px;
    height: 2px;
    background-color: white;
}
.tekst h3{
    margin-top: 15px;
    font-size:13px;
    letter-spacing:2px;
    font-weight: lighter;

}